*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background: #ef333333;
    
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameName{
    background: linear-gradient(rgb(221, 98, 98), #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    cursor:default;
    
}
.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 3rem auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
.cell {
    width: 100px;
    height: 100px;
    border: 3px solid #ba343496;
    cursor: pointer;
    line-height: 80px;
}
.restartBtn{
    width: 12rem;
    height: 3.5rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight:700;
    background: #ba343496; 
    text-align: center;
    cursor: pointer;
}
.restartBtn:hover{
    background: -webkit-linear-gradient(rgb(221, 98, 98), rgb(104, 16, 16));
    width: 15rem;
    height: 4rem;

}
 .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    align-items: center;
    padding-left: 5rem;
    font-weight: 600;
    cursor:default;
    margin-bottom: 1rem;
 }
 .player, .computer{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .showImg{
    display: none;
    position: fixed;
    z-index: 1;
    top: 1rem;
    text-align: center;
 }
#imgResult{
    height:50%;
    width:50%;
    margin: 4rem;
 
}
.gameStatus{
    text-shadow: 2px 2px 5px red;
    margin-bottom: 1rem;
    text-align: center;

}
